In [4]:
import requests

url = 'https://openapi-test-oshv.onrender.com/pico_w/?count=3'

r = requests.get(url=url)

if r.status_code == 200:
    print("下載成功")
    data = r.json()

print(data)

下載成功
[{'date': '2024-1-24 16:53:19', 'address': 'chicken_KFC', 'temperature': 27.51254, 'light': 46427.0}, {'date': '2024-1-24 16:53:24', 'address': 'chicken_KFC', 'temperature': 27.51254, 'light': 43162.0}, {'date': '2024-1-24 16:53:35', 'address': 'chicken_KFC', 'temperature': 27.98069, 'light': 36696.0}]

In [5]:
import pandas as pd

pd.DataFrame(data)

                 date      address  temperature    light
0  2024-1-24 16:53:19  chicken_KFC     27.51254  46427.0
1  2024-1-24 16:53:24  chicken_KFC     27.51254  43162.0
2  2024-1-24 16:53:35  chicken_KFC     27.98069  36696.0